/* 1.0 Layout */
/* General */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

img,
embed,
object,
video {
	max-width: 100%;
}

/* Grid */

.grid {
	max-width: 960px;
	margin: 0 auto 60px;
	width: 100%;
}

.row {
  width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-flow: row wrap;
}

header {
	width: 100%;
}

.header_logo {
	width: 50%;
}

.header_title {
	width: 50%;
}

.hero {
	width: 100%;
}

.app_container {
	width: 100%;
}

/* Margins and format */

body {
	margin: 0 25px;
}

header,
main {
	margin: 30px 0 0;
}

.header_title {
	float: right;
	text-align: right;
	vertical-align: middle;
}

nav {
	margin: 20px 0 0;
}

.app_container {
	text-align: center;
	margin: 20px 0 0;
}

/* Responsive layout and format */

@media screen and (min-width: 450px) {
	/* Featured apps changes from 1 to 2 columns */
	.app_container {
		width: calc((100% - 30px) / 2);
	}

	.app_container:first-of-type {
		margin: 20px 30px 0 0;
	}

	.app_container:last-of-type {
		margin: 40px auto;
	}

}

@media screen and (min-width: 800px) {
	/* Featured apps changes to 3 columns */
	.app_container {
		width: calc((100% - 60px) / 3);
		margin: 20px 30px 0 0;
	}

	.app_container:last-of-type {
		margin: 20px 0 0 0;
	}
}

/* 2.0 Visuals */

body {
	/* SVG background from http://philbit.com/svgpatterns */
	/* URL is quoted to pass the CSS validator, which only accepts http, not data addresses */
		background: #ffffff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+') repeat left top;
}

hr {
	height: 6px;
	background-color: #707070;
	border: none;
}

a {
	padding: 5px;
}



/* 3.0 Fonts */

h1,
h2,
h3,
h4,
p {
	font: lighter 16px Arial, sans-serif;
}

a {
	font: lighter 14px Arial, sans-serif;
	text-decoration: none;
	color: red;
}

a:hover {
	color: white;
	background-color: red;
	font-weight: bold;
}

.title {
	text-transform: uppercase;
}

.title,
.sub_title {
	font: 20px "Source Code Pro", monospace;
	color: #707070;
}

.section_title {
	text-decoration: underline;
	color: #404040;
}

.app_title {
	text-transform: uppercase;
	color: #404040;
}

/* Font Sizes */
/* I am not using shorthand to avoid code repetition. the 'font' attribute requires 
	a value for 'font-size' and 'font-family'. I change 'font-size' in all media queries, 
	but I never change the 'font-family' */

.sub_title {
	font-size: 16px;
}

.section_title {
	font-size: 20px;
}

@media screen and (min-width: 350px) {
	.title {
		font-size: 28px;
	}

	.section_title {
		font-size: 24px;
	}

	.app_title {
		font-size: 20px;
	}

	a {
		font-size: 16px;
	}
}

@media screen and (min-width: 750px) {
	.title {
		font-size: 34px;
	}

	.sub_title {
		font-size: 24px;
	}

	.section_title {
		font-size: 30px;
	}

	.app_title {
		font-size: 26px;
	}
}


/* 4.0 Images */

.logo {
	min-width: 150px;
}